.te{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 222px;
    margin-bottom: 0px;
    margin-left: 560px;
}
.btn1{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 550px;
}